In [10]:
import pandas as pd
import pickle

### Model analysis - what predictions did we miss?

In [11]:
filename = '../models/rf1.sav'
gs = pickle.load(open(filename, 'rb'))

In [12]:
gs.best_params_

{'max_depth': None, 'max_features': 'auto', 'n_estimators': 125}

In [13]:
test = pd.read_csv('../datasets/test.csv')
test.head()

,date,temperature,humidity,light,co2,humidity_ratio,occupancy
0,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
1,2015-02-02 14:20:00,23.7180,26.290,578.400000,760.400000,0.004773,1
2,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
3,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
4,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [14]:
X_test = test[['temperature', 'humidity', 'light', 'co2']]
y_test = test['occupancy']

In [15]:
preds = pd.DataFrame(gs.predict(X_test), columns=['predictions'])

In [16]:
test['predictions'] = preds['predictions']

In [17]:
rf1_missed = test[test['occupancy'] != test['predictions']]

In [18]:
rf1_missed.head()

,date,temperature,humidity,light,co2,humidity_ratio,occupancy,predictions
2,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1,0
3,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1,0
4,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1,0
5,2015-02-02 14:24:00,23.7600,26.260,568.666667,790.000000,0.004779,1,0
6,2015-02-02 14:25:00,23.7300,26.290,536.333333,798.000000,0.004776,1,0

In [19]:
rf1_missed.to_csv('../models/rf1_missed.csv', index=False)